* {
    margin: 0;
    padding: 0;
}

img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 1.75rem;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 0.95fr;
}

.user-menu {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, auto) 0.75fr;
}

.profile {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 0.95fr;
}

.profile .profile-icon {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.profile-greeting {
    grid-area: 1 / 2 / 2 / 3;
}

.profile .profile-name {
    grid-area: 2 / 2 / 3 / 3;
}

.content-interaction {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 3rem;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-columns: 1fr;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2.75fr 1fr;
}

.your-projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.content-title {
    grid-area: 1 / 1 / 2 / 3;
}

.project-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.announcements-board {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

.trending-projects {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.trending-project {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 1fr;
}

.trending-profile-icon {
    grid-area: 1 / 1 / 3 / 2;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

.search {
    align-items: center;
}

.search-icon {
    justify-self: center;
}

.search-icon button, .notification-icon button {
    background-color: transparent;
    border: none;
}

button, img, .user-menu-profile-name {
    cursor: pointer;
}

.search-icon button:hover, .notification-icon button:hover {
    color: #808080;
}

.search-icon button:active, .notification-icon button:active {
    transform: translateY(2px);
}

img:active, .user-menu-profile-name:active {
    transform: translateY(1px);
}

.search-bar input {
    background-color: #D1C2E0;
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    outline: none;
}

.search-bar input:focus {
    border: 2px solid #663399;
}

.user-menu {
    list-style: none;
    justify-items: center;
    align-items: center;
    padding: 0 4vw;
}

.user-menu img {
    width: 3.2rem;
    height: auto;
}

.user-menu-profile-name {
    font-weight: 700;
    font-size: 1.1rem;
}

.user-menu-profile-name:hover {
    color: #444;
    text-decoration: underline;
}

.profile {
    align-items: center;
    padding: 1rem 0;
}

.profile img {
    width: 4.35rem;
    height: auto;
    justify-self: end;
}

.profile-icon {
    padding-right: 1.3rem;
}

.profile-greeting {
    align-self: end;
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.profile-name {
    align-self: start;
    font-size: 1.5rem;
    font-weight: 700;
}

.content-interaction {
    list-style-type: none;
    align-items: center;
    justify-items: center;
}

.content-interaction-button {
    border: none;
    background-color: #663399;
    color: #FFFFFF;
    width: 6.75rem;
    height: 2.75rem;
    border-radius: 2.1rem;
    font-size: 1rem;
    font-weight: 700;
}

.content-interaction-button:active {
    background-color: #7547A3;
    color: #E6E6E6;
    transform: translateY(2px);
}
