img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

header {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
}
